 @media (max-width:1400px) {
     .primary-font-size {
         font-size: 13px;
    }
	.tertiary-heading {
    font-size: 17px;
}
	ul.navigation {
    gap: 20px;
    align-items: center;
}
.banner-content {
    position: absolute;
}
.banner-with-content--content h2 {
    font-size: 40px;
}
.third-image-with-content-outer .text-content-grid-outer h2 {
    font-size: 35px;
}
.third-image-with-content-outer {
    gap: 9%;
}
	.guarantee-inner-grid--grid {
    padding: 2rem 5rem;
}
	ul.testimonial-feed-grid.list-style {
    padding: 1rem 2rem;
}
.text-with-icon-outer {
    padding: 0 3rem;
}
.footer-grid-inner {
    padding: 4rem 3rem;
}
}


 @media (max-width:1200px) {
     .navigation-outer {
         display:none;
    }
 }
 @media (max-width:950px) {
     .navigation {
         display: none;
    }
	.hamburger-icon {
		display: block;
	}
    .inner-header {
    justify-content: center;
    align-items: center;
	}
	.logo-image-grid {
     max-width: unset;
     padding-right: unset;
}
     .banner-with-content--content h2 {
         font-size: 40px;
    }
    .banner-content {
    position: unset;
    transform: translateY(7%);
    padding: 4rem 3rem;
    text-align: center;
    margin-top: -25px;
    background: #f7f4f2;
}
     .banner-button {
         justify-content: center;
    }
     .primary-font-size {
         font-size: 16px;
         font-weight: 400;
    }
     .card-product {
         flex-wrap: wrap;
         display: flex;
         gap: 2rem;
         justify-content: center;
         padding: 2rem 0;
    }
     li.card-product-inner {
         max-width: 300px;
        /* display: grid;
         */
         width: 100%;
    }
     .card-product-inner-content--content a {
         text-align: center;
    }
     .rich-text-outer-grid {
         padding: 2rem;
    }
     .image-grid, .text-content-grid-outer {
         width: 100%;
    }
     .first-image-with-content-grid-outer, .second-image-with-content-grid-outer {
         flex-direction: column-reverse;
    }
     .second-image-with-content-grid-outer {
         flex-direction: column;
         padding-top: unset;
    }
     .text-content-grid-outer {
         padding: unset;
    }
	ul.collection-list-grid {
    grid-template-columns: repeat(2, 2fr);
}
	.guarantee-inner-grid--grid {
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1rem;
}
	ul.testimonial-feed-grid.list-style {
    padding: 1rem 2rem;
    grid-template-columns: repeat(2, 2fr);
}
	.instagram-feed-grid {
    flex-direction: column;
    align-items: center;
}
.footer-grid-inner {
    padding: 4rem 3rem;
    grid-template-columns: repeat(2, 2fr);
}
.email-information {
    display: flex;
    align-items: center;
}
}
 @media (max-width:750px) {
	 ul.collection-list-grid.list-style {
    display: flex;
    flex-direction: column;
}
ul.collection-list-grid {
    padding: 2rem 4.3rem;
}
.first-image-with-content-grid-outer, .second-image-with-content-grid-outer {
    padding: 1rem;
}
	.third-image-with-content-outer {
    margin-top: unset;
}
.third-image-with-content-outer {
    display: flex;
    flex-direction: column-reverse;
}
.third-image-with-content-outer {
    padding: 2rem;
}
.guarantee-inner-grid--grid {
    grid-template-columns: repeat(1, 4fr);
}
ul.testimonial-feed-grid.list-style {
    grid-template-columns: repeat(1, 4fr);
}
.footer-grid-inner {
    padding: 4rem 3rem;
    grid-template-columns: repeat(1, 4fr);
}
.email-information {
    flex-direction: column;
    gap: 1rem;
}
input[type="email"] {
    width: 100%;
}
.text-with-icon {
    flex-direction: column;
    display: flex;
	padding: 8px;
	gap: 1rem;
	align-items: center;
}
.banner-button {
    display: grid;
    gap: 1rem;
    padding-top: 8px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.banner-button a.secondary-button {
  padding: 11px 0rem;
}
.banner-button a.primary-button {
    padding: 14px 0rem;
}
}
 